global:
  scrape_interval: 60s
  # evaluation_interval: 60s
scrape_configs:
  - job_name: "backend-metrics"
    metrics_path: /api/metrics
    static_configs:
      - targets: ["api.staging.quevende.com.br"]
  - job_name: cadvisor
    static_configs:
      - targets:
        - cadvisor:8080
  - job_name: node
    static_configs:
      - targets: ['node_exporter:9100']
  - job_name: 'postgres-db1'
    static_configs:
      - targets: ['postgres-exporter-db1:9187']
    # metrics_path: /metrics
    # relabel_configs:
    #   - source_labels: [__address__]
    #     target_label: __param_target
    #   - source_labels: [__param_target]
    #     target_label: instance
    #   - target_label: __address__
    #     replacement: localhost:9116
  - job_name: 'blackbox'
    metrics_path: /probe
    params:
      module: [http_2xx]
    static_configs:
      - targets:
        - empresa.staging.quevende.com.br # Target to probe with http on port 8080.
        - admin.staging.quevende.com.br
        - candidato.staging.quevende.com.br
        - api.staging.quevende.com.br/api/metrics
        - app.lifesprint.com.br
        - barauna.acelerabit.com
        - encomendex.com
        - app.diariodeobras.com.br
        - quevende.com.br
        - empresa.quevende.com.br
        - admin.quevende.com.br
        - seg-lavanderia-api.acelerabit.com
        - app.seglavanderia.com.br
        - locaseg.acelerabit.com
        - app.seglocacoes.com.br
        - app.brclightning.com
        - api.brclightning.com
        - admin.brclightning.com
        - app.bolonobolso.com.br
        - api.bolonobolso.com.br
        - api.bolonobolso.staging.acelerabit.com
        - app.bolonobolso.staging.acelerabit.com
        - painel.bolonobolso.staging.acelerabit.com
        - admin.brc.staging.acelerabit.com
        - api.brc.staging.acelerabit.com
        - brc.staging.acelerabit.com
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: 159.89.55.193:9115