global:
  scrape_interval: 60s
  # evaluation_interval: 60s
scrape_configs:
  - job_name: "backend-metrics"
    metrics_path: /api/metrics
    static_configs:
      - targets: ["api.staging.quevende.com.br"]
  - job_name: cadvisor
    static_configs:
      - targets:
        - cadvisor:8080
  - job_name: node
    static_configs:
      - targets: ['node_exporter:9100']
  - job_name: 'blackbox'
    scrape_interval: 60s
    metrics_path: /probe
    params:
      module: [http_2xx]
    static_configs:
      - targets:
        - empresa.staging.quevende.com.br # Target to probe with http on port 8080.
        - admin.staging.quevende.com.br
        - candidato.staging.quevende.com.br
        - api.staging.quevende.com.br/api/metrics
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: 67.205.155.34:9115